<html lang="en" data-theme="myTheme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Too Much Food</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.50.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script defer src="https://cdn.tailwindcss.com"></script>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <header>
        <div class="navbar bg-base-100">
          <div class="navbar-start">
            <div class="dropdown">
              <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16"
                  ></path></svg>
              </label>
              <ul
                tabindex="0"
                class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
              >
                <li><a href="/api/menu">Menu</a></li>
                <li><a href="/api/orders">Orders</a></li>
                <li tabindex="0">
                  <a class="justify-between">
                    Reports
                    <svg
                      class="fill-current"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    ><path
                        d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
                      ></path></svg>
                  </a>
                  <ul class="p-2">
                    <li><a href="/api/reports">Full</a></li>
                    <li><a href="/api/reports">To Decide</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <a href="/"><img src="/images/logo.png" /></a>
          </div>
          <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
              <li><a href="/api/menu">Menu</a></li>
              <li><a href="/api/orders">Orders</a></li>
              <li tabindex="0">
                <a>
                  Reports
                  <svg
                    class="fill-current"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                  ><path
                      d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
                    ></path></svg>
                </a>
                <ul class="p-2">
                  <li><a href="/api/reports">Full</a></li>
                  <li><a href="/api/reports">To Decide</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-end">
            {{#if isLogged}}
              <b>{{first_name}}</b>&nbsp;is logged in&nbsp;&nbsp;
              <button class="btn" id="logout">logout</button>
            {{else}}
              <a class="btn" href="/signin" id="signinBtn">sign in
              </a>&nbsp;&nbsp;
              <a class="btn" href="/signup" id="signupBtn">sign up
              </a>
            {{/if}}
          </div>
        </div>
      </header>
      <main class="container mx-auto">
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>
    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>