<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Too Much Food</title>
  </head>
  <body>
    <div>
      <header>
        <h1>
          <a href="/">LOGO</a>
        </h1>
        <nav>
          <div>
            <a href="/menu"><button>Menu</button></a>
            <a href="/orders"><button>Orders</button></a>
            <a href="/report"><button>Report</button></a>
          </div>
          {{#if isLogged}}
            <div>
              <a href="/profile"><button>profile</button></a>
              <button id="logout">logout</button>
            </div>
          {{else}}
            <a href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    {{#if isLogged}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>