<div class="home-block">
    <h2 class="card-title text-shadow justify-center">About Us</h2>
    <div class="m-3 card">
      <div width=70% class="card-body">
        <p><b>Too Much Food</b> has been created by:</p>
        <div class="card card-side glass m-3 shadow-md hover:shadow-xl">
        <div class="card-body flex">
          <p>Marie-dale Pais</p>
          <p>Email at marie-dale@email.com</p>
          <p>Call on 506-123-4567</p>
        </div>
        </div>
        <div class="card card-side glass m-3 shadow-md hover:shadow-xl">
        <div class="card-body flex">
          <p>Ren Besson</p>
          <p>Email at ren@email.com</p>
          <p>Call on 506-123-4567</p>
        </div>
        </div>
        <p>Feel free to contact the creators for more information.</p>
      </div>
</div>