<div class="home-block">
    <h2 class="card-title text-shadow justify-center">Welcome to <img src="/images/logo.png"></h2>
    <div class="m-3 card">
      <div width=70% class="card-body">
        <p><img src="/images/food.jpg" class="img-center"></p>
        <p><b>Too Much Food</b> is a restaurant management software that lets you manage your menu, save orders, mark completed orders and view reports.</p>
        <p><b>Important:</b> You must be signed in to use this software.</p>
        <p>Since we are in the beta stage of this software, it's free to sign up.</p>
      </div>
</div>