<div>
  <p>
    <div>Welcome to Too Much Food.</div>
    <div>Too Much Food is a restaurant management software that lets you manage your menu, save orders, mark completed orders and view reports.</div>
    <div>Important: You must be signed in to use this software.</div>
    <div>Since we are in the beta stage of this software, it's free to sign up.</div>
  </p>
</div>