<div>

  <div>
    <h2>Sign Up</h2>

    <div>
      <label for="fistNameSignup">name:</label>
      <input type="text" id="firstNameSignup" />
    </div>
    <div>
      <label for="lastNameSignup">name:</label>
      <input type="text" id="lastNameSignup" />
    </div>
    <div>
      <label for="emailSignup">email:</label>
      <input type="text" id="emailSignup" />
    </div>
    <div>
      <label for="passwordSignup">password:</label>
      <input type="password" id="passwordSignup" />
    </div>
    <div>
      <button id="signupButton" type="submit">Sign Up</button>
    </div>

  </div>
  <div>
    <h2>Sign In</h2>
    <div>
      <label for="emailSignin">email:</label>
      <input type="text" id="emailSignin" />
    </div>
    <div>
      <label for="passwordSignin">password:</label>
      <input type="password" id="passwordSignin" />
    </div>
    <div>
      <button id="signinButton" type="submit">Sign In</button>
    </div>
  </div>

</div>

<script src="./js/login.js"></script>