{{!-- create two sections --}}

{{!-- left section
include "Create New Order" button
see wireframe shared for details --}}

{{!-- right section
on clicking the id, the details should display in the form in the left section so it can be edited --}}
{{#each orders as |order|}}
  <div>{{id}}</div>
  <div>{{date}}</div>
  <div>{{table_no}}</div>
  <div>{{user.first_name}}</div>
{{/each}}