<div class="grid grid-cols-1 gap-2 form-control w-full max-w-xs">
  <h2 class="text-2xl font-bold">Sign Up</h2>
  <label class="block">
    <span class="label-text">First Name</span>
    <input
      id="f-name"
      type="text"
      placeholder="First Name"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <label class="block">
    <span class="label-text">Last Name</span>
    <input
      id="l-name"
      type="text"
      placeholder="Last Name"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <label class="block">
    <span class="label-text">Email Address</span>
    <input
      id="email"
      type="email"
      placeholder="name@email.com"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <label class="block">
    <span class="label-text">Password</span>
    <input
      id="password"
      type="password"
      placeholder="password"
      class="input input-primary w-full max-w-xs"
    />
  </label>

  <button class="btn btn-primary" id="signupButton">Sign Up</button>
</div>

<script src="./js/signup.js"></script>